.page_contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.page_contact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input:focus + label, form textarea:focus + label {
    transform: translateY(1rem);
    color: #cea135;
}
form input:focus::-webkit-input-placeholder, form textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
.page_contact form > .name{
    margin-top: 5px;
}
.page_contact form > .name , .page_contact form > .email , .page_contact form > .message{
    display: flex;
    flex-direction: column;
    width: 40vw;
}
input{
    background-color: rgb(1, 7, 51);
}
.page_contact form > .name label , .page_contact form > .email label , .page_contact form > .message label{
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.page_contact form label{
    font-size: 1.2rem;
    font-weight: 700;
    color: transparent;
}
.page_contact form > .message > textarea{
    height: 350px;
    background-color: rgb(1, 7, 51);
}
.page_contact > .page_contact_left_column{
    margin-top: 20%;
    margin-left: 10px;
}
.page_contact > .page_contact_left_column > .adress {
    margin: 5px;
    letter-spacing: 5px;
    margin-bottom: 15px;
}
.page_contact > .page_contact_left_column > .phone p ,.page_contact > .page_contact_left_column > .adress >.adress_text p {
    margin: 0;
    letter-spacing: 2px;
    margin-bottom: 5px;
    transition: 1s;
}
.page_contact >.page_contact_left_column > .phone p:hover ,.page_contact >.page_contact_left_column > .adress >.adress_text p:hover {
    color: #cea135;
    text-shadow: 
    0 0 7px #cea135,
    0 0 10px #cea135,
    0 0 21px #cea135;
}
.page_contact >.page_contact_left_column > .phone , .page_contact >.page_contact_left_column > .adress {
    margin-top: 1.5em;
    display: flex;

}
.page_contact >.page_contact_left_column > .adress > .location_icon {
    transform: scale(1.5);
    margin: 10px;
    margin-right: 15px;
    margin-top: 15px;
    color:#cea135;
    text-shadow: 
    0 0 7px #cea135;
}
.page_contact >.page_contact_left_column > .phone > .phone_icon {
    margin: 0px 10px;
    margin-right: 15px;
    color:#cea135;
    text-shadow: 
    0 0 7px #cea135;
}
button{
    background-color: #cea135;
    width: 50px;
    border-radius: 2px;
    border: 0px;
}
button:active{
    box-shadow: 2px -2px 5px #cea135 ;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}